{% extends "base.html" %}

{% block content_title %}
    {{ entry.title }}
{% endblock %}

{% block extra_header %}
    {% if session.logged_in %}
        <li class="nav-item">
            <a class="nav-link"  href="{{ url_for('edit', slug=entry.slug) }}">Edit Reactor</a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <p>Created {{ entry.timestamp.strftime('%m/%d/%Y at %I:%M%p') }}</p>
    <p>Description: {{ entry.description }}</p>
    <p>Inputs: {{ entry.inputs }} </p>
    <p>Examples: {{ entry.content }}</p>
{% endblock %}